
/* section_2 css */
#buttons_section{
	float:left;
	width:100%;
}
.section_2{
	float:left;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
}
.section2_btn{
	border-radius:35px;
	padding:10px 12px;
	width:100%;
	height:52px;
	color:#fff;
	font-size:16px;
	margin-bottom:42px;
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.section2_btn:hover{
	-webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
}
.btn1{
	background:#ff4157;
	border:1px solid #ff4157;
}
.btn1:hover{
	background:#fb7080;
	border:1px solid #fb7080;
}
.btn2{
	background:#4285f4;
	border:1px solid #4285f4;
}
.btn2:hover{
	background:#79a9f8;
	border:1px solid #79a9f8;
}
.btn3{
	background:#35d8a1;
	border:1px solid #35d8a1;
}
.btn3:hover{
	background:#5aefbc;
	border:1px solid #5aefbc;
}
.btn4{
	background:#efa44b;
	border:1px solid #efa44b;
}
.btn4:hover{
	background:#f2af60;
	border:1px solid #f2af60;
}
.btn5{
	background:#111111;
	border:1px solid #111111;
}
.btn5:hover{
	background:#3e3e3e;
	border:1px solid #3e3e3e;
}
.btn6{
	background:#eaeaea;
	border:2px solid #eaeaea;
	color:#111111;
}
.btn6:hover{
	background:#dbdbdb;
	border:1px solid #dbdbdb;
}
.btn11{
	background:transparent;
	border:2px solid #ff4157;
	color:#ff4157;
}
.btn11:hover{
	background:#ff4157;
	color:#fff;
}
.btn22{
	background:transparent;
	border:2px solid #4285f4;
	color:#4285f4;
}
.btn22:hover{
	background:#4285f4;
	color:#fff;
}
.btn33{
	background:transparent;
	border:2px solid #35d8a1;
	color:#35d8a1;
}
.btn33:hover{
	background:#35d8a1;
	color:#fff;
}
.btn44{
	background:transparent;
	border:2px solid #efa44b;
	color:#efa44b;
}
.btn44:hover{
	background:#efa44b;
	color:#fff;
}
.btn55{
	background:transparent;
	border:2px solid #111111;
	color:#111111;
}
.btn55:hover{
	background:#111111;
	color:#fff;
}
.btn66{
	background:transparent;
	border:2px solid #eaeaea;
	color:#111111;
}
.btn66:hover{
	background:#eaeaea;
}
.btn111{
	background:#fb7080;
	border:1px solid #fb7080;
}
.btn111:hover{
	background:#ff4157;
	border:1px solid #ff4157;
}
.btn222{
	background:#79a9f8;
	border:1px solid #79a9f8;
}
.btn222:hover{
	background:#4285f4;
	border:1px solid #4285f4;
}
.btn333{
	background:#5aefbc;
	border:1px solid #5aefbc;
}
.btn333:hover{
	background:#35d8a1;
	border:1px solid #35d8a1;
}
.btn444{
	background:#f2af60;
	border:1px solid #f2af60;
}
.btn444:hover{
	background:#efa44b;
	border:1px solid #efa44b;
}
.btn555{
	background:#3e3e3e;
	border:1px solid #3e3e3e;
}
.btn555:hover{
	background:#111111;
	border:1px solid #111111;
}
.btn666{
	background:#dbdbdb;
	border:1px solid #dbdbdb;
	color:#111111;
}
.btn666:hover{
	background:#eaeaea;
	border:1px solid #eaeaea;
}
/* section_2 css end*/
